/* utilities */
.container {
	max-width: 400px;
	margin: auto;
}

/* Heading */
.heading {
	text-align: center;
	padding: 20px 0;
	font-size: 2.2rem;
	font-weight: 100;
	color: #1ba7af;
}

/* form */
form {
	padding: 20px;
	background-color: #363e4e;
	color: #fff;
	border-radius: 5px;
	margin: 0 10px;
	box-shadow: 1px 6px 11px 4px rgba(148,148,148,1);
}


.form-group {
	margin-bottom: 2rem;
}

form label {
	font-size: 1rem;
	display: block;
	margin-bottom: 40px;
}


label {
	margin-bottom: 32px;
	font-size: 1.5rem;
}


/* interest */
.interest {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 10px;
	padding: 20px;
	box-shadow: 1px 6px 11px 4px rgba(179,175,179,0.29);
}

.interest h2 {
	font-size: 1rem;
} 

.interest-data {
	font-size: 1.3rem;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.interest-label {
	color: #554c4c;
}

.interest-display,
.payment-display,
.number-display {
	font-size: 2rem;
	font-weight: 400;
}

